# VisualStudio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
[Bb]in/
[Oo]bj/

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg

# MSBuild
*.proj.user
*.builds

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# dotCover
*.dotCover

# Package directories
packages/

# Others
*.log

